main {
  display: block;
}

header {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
}
header #navi {
  margin-top: 40px;
  margin-left: 10%;
}
header #navi .nav-menu {
  margin-bottom: 40px;
}
header #navi .nav-menu li {
  height: 40px;
}
header #navi .sns li {
  height: 40px;
}

.page-title {
  width: 200px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 300px;
}

#video {
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: fixed;
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 60px;
}

h2::before {
  border-top: solid 1px #000;
  width: 28%;
}

.wrapper {
  max-width: 900px;
  padding: 80px 20px;
  margin-right: auto;
  margin-left: auto;
}

#project, #feature {
  position: relative;
  background-color: transparent;
}

.example-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.example-list .example-item {
  width: 50%;
  position: relative;
  border: solid 1px #fff;
}

.example-img {
  width: 95%;
  position: relative;
  padding: 4%;
}

.img-title {
  position: absolute;
  left: 5%;
  bottom: 10%;
  font-size: 0.75rem;
  color: #fff;
}

.feature-list {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}
.feature-list .feature-item {
  width: 30%;
  text-align: center;
}
.feature-list .feature-item a {
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  width: 100%;
  border: 1px solid #000;
  padding: calc(50% - 10px) 100;
  margin-bottom: 15px;
  position: relative;
}
.feature-list .feature-item p.title {
  margin-top: 160px;
}

.flow-chart {
  display: flex;
  margin-top: 50px;
}

.step .figure {
  position: relative;
}
.step .figure::before {
  content: "";
  width: 50px;
  height: 600px;
  background-color: red;
  position: absolute;
  left: 70px;
}
.step .figure li {
  width: 200px;
  height: 80px;
  line-height: 80px;
  background-color: aqua;
  margin-bottom: 60px;
  display: block;
  position: relative;
  text-align: center;
}
.step .figure li::before {
  content: "";
  border-top: 30px solid pink;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  position: absolute;
  top: 80px;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.step .figure li:last-child {
  margin-bottom: 0;
}

.description {
  position: relative;
  margin-left: 5%;
}
.description span {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  background-color: #414141;
  color: #fff;
  text-align: center;
  position: absolute;
}
.description dt {
  border-bottom: #414141 solid 1px;
  line-height: 2.5;
  margin-left: 50px;
  font-size: 1.2rem;
}
.description dd {
  margin-left: 50px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.link {
  display: flex;
  justify-content: space-around;
}
.link a {
  border: 1px solid #000;
  width: 30%;
  display: block;
  padding: 96px 0;
  position: relative;
}
.link a img {
  margin-bottom: 5px;
  text-align: center;
  position: absolute;
  max-width: 100%;
  left: 100px;
  top: 70px;
}
.link a p {
  position: absolute;
  bottom: 5px;
  left: 96px;
}
.link a::before {
  content: "";
  border-top: 20px solid transparent;
  border-right: 20px solid #212121;
  position: absolute;
  bottom: 4px;
  right: 4px;
}

#footer {
  background-color: #414141;
  color: #fff;
}
#footer .menu {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}
#footer .menu li {
  border-right: solid 1px #fff;
  padding: 0 20px;
}
#footer .menu li:last-child {
  border-right: none;
}
#footer .copyright {
  text-align: center;
  padding-bottom: 50px;
}/*# sourceMappingURL=style.css.map */